<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            {{outlet sidebar}}
        </div>
        <div class="span9">
            <header id="header">
                <h1>todos</h1>
            </header>

            {{view App.CreateTodoTextField}}
            {{outlet}}
        </div>
    </div>
</div>

